@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* .EasyMDEContainer .editor-toolbar */
/* .EasyMDEContainer .CodeMirror.CodeMirror-focused {
  @apply border-2 border-cyan-500;
}
.EasyMDEContainer .editor-toolbar:focus {
  @apply border-2 border-cyan-500;
} */
